Exercise - 4 Sales Data Analysis (retail)

In [5]:
import pandas as pd
data = {
    'product': ['laptop', 'phone', 'tablet', 'camera', 'headset'],
    'Mon':[5, 10, 4, 2, 8],
    'Tue':[6, 12, 5, 3, 9],
    'Wed':[3, 11, 2, 1, 7],
    'Thu':[4, 9, 3, 2, 6],
    'Fri':[3, 13, 2, 5, 10],
    'Sat':[8, 15, 6, 5, 11],
    'Sun':[6, 14, 4, 3, 9],

}
df = pd.DataFrame(data)
print(df)
df['total sales'] = df.iloc[:, 1:].sum(axis=1)
print(df)
best_product = df.iloc[df['total sales'].idxmax(), df.columns.get_loc('product')]
print('The best selling product is:', best_product)
avg_sales_per_day = df.iloc[:, 1:-1].mean()
print('Average sales per day:', avg_sales_per_day)
sorted_df = df.sort_values(by='total sales', ascending=False)
print(sorted_df)

   product  Mon  Tue  Wed  Thu  Fri  Sat  Sun
0   laptop    5    6    3    4    3    8    6
1    phone   10   12   11    9   13   15   14
2   tablet    4    5    2    3    2    6    4
3   camera    2    3    1    2    5    5    3
4  headset    8    9    7    6   10   11    9
   product  Mon  Tue  Wed  Thu  Fri  Sat  Sun  total sales
0   laptop    5    6    3    4    3    8    6           35
1    phone   10   12   11    9   13   15   14           84
2   tablet    4    5    2    3    2    6    4           26
3   camera    2    3    1    2    5    5    3           21
4  headset    8    9    7    6   10   11    9           60
The best selling product is: phone
Average sales per day: Mon    5.8
Tue    7.0
Wed    4.8
Thu    4.8
Fri    6.6
Sat    9.0
Sun    7.2
dtype: float64
   product  Mon  Tue  Wed  Thu  Fri  Sat  Sun  total sales
1    phone   10   12   11    9   13   15   14           84
4  headset    8    9    7    6   10   11    9           60
0   laptop    5    6    3    4    3    8    6           35
2   tablet    4    5    2    3    2    6    4           26
3   camera    2    3    1    2    5    5    3           21

Exercise-5 Employee Attendance Tracker (HR)

In [7]:
import pandas as pd
data = {
    'Employee':['john', 'alice', 'bob', 'mary', 'david'],
    'Mon':['P', 'P', 'A', 'P', 'P'],
    'Tue':['A', 'P', 'A', 'P', 'P'],
    'Wed':['p', 'P', 'A', 'P', 'P'],
    'Thu':['P', 'P', 'P', 'A', 'A'],
    'Fri':['P', 'A', 'P', 'P', 'A'],

}
df = pd.DataFrame(data)
print(df)
df['total attendance'] = df.iloc[:, 1:].apply(lambda x: (x == 'P').sum(), axis=1)
print(df)
full_attendance = df[df['total attendance'] == 5]
absent_counts = df.iloc[:, 1:-1].apply(lambda x: (x != 'P').sum(), axis=1)
print(absent_counts)
max_absent = absent_counts.idxmax()
print(max_absent)
sorted_df = df.sort_values(by='total attendance', ascending=False)
print(sorted_df)

  Employee Mon Tue Wed Thu Fri
0     john   P   A   p   P   P
1    alice   P   P   P   P   A
2      bob   A   A   A   P   P
3     mary   P   P   P   A   P
4    david   P   P   P   A   A
  Employee Mon Tue Wed Thu Fri  total attendance
0     john   P   A   p   P   P                 3
1    alice   P   P   P   P   A                 4
2      bob   A   A   A   P   P                 2
3     mary   P   P   P   A   P                 4
4    david   P   P   P   A   A                 3
0    2
1    1
2    3
3    1
4    2
dtype: int64
2
  Employee Mon Tue Wed Thu Fri  total attendance
1    alice   P   P   P   P   A                 4
3     mary   P   P   P   A   P                 4
0     john   P   A   p   P   P                 3
4    david   P   P   P   A   A                 3
2      bob   A   A   A   P   P                 2

Exercise- 6 Movie Ratings Analysis(Entertainment)

In [9]:
import pandas as pd
data = {
    'movie':['inception', 'titanic', 'avatar', 'joker', 'dune'],
    'Critic_A':[9, 8, 7, 8, 9],
    'Critic_B':[8, 7, 8, 9, 7],
    'Critic_C':[9, 8, 6, 10, 8]
}
df = pd.DataFrame(data)
print(df)
df['Average_Rating'] = df[['Critic_A', 'Critic_B', 'Critic_C']].mean(axis=1)
print(df)
highest = df.loc[df['Average_Rating'].idxmax(), 'movie']
print(highest)
lowest = df.loc[df['Average_Rating'].idxmin(), 'movie']
print(lowest)
sorted_df = df.sort_values(by='Average_Rating', ascending=False)
print(sorted_df)

       movie  Critic_A  Critic_B  Critic_C
0  inception         9         8         9
1    titanic         8         7         8
2     avatar         7         8         6
3      joker         8         9        10
4       dune         9         7         8
       movie  Critic_A  Critic_B  Critic_C  Average_Rating
0  inception         9         8         9        8.666667
1    titanic         8         7         8        7.666667
2     avatar         7         8         6        7.000000
3      joker         8         9        10        9.000000
4       dune         9         7         8        8.000000
joker
avatar
       movie  Critic_A  Critic_B  Critic_C  Average_Rating
3      joker         8         9        10        9.000000
0  inception         9         8         9        8.666667
4       dune         9         7         8        8.000000
1    titanic         8         7         8        7.666667
2     avatar         7         8         6        7.000000